@import 'libs/shared/src/styles';
@import 'libs/core/src/lib/layout/components/navbar/theme';
@import 'libs/core/src/lib/layout/components/user-sidenav-card/theme';

@mixin app-theme($theme, $config) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  @include shared-theme($theme, $config);
  @include navbar-theme($theme, $config);
  @include user-sidenav-card-theme($theme, $config);
}
