mat-drawer-container {
  height: 100%;
}

app-layout {
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-sidenav {
  width: 15%;
  min-width: 200px;
  max-width: 300px;
}
