<footer class="footer">
  <div class="footer-list">
    <div class="footer-logo">
      <div class="footer-logo">
        <img alt="logo" src="https://cdn-images-1.medium.com/fit/c/500/500/1*lFuaWSid4w5Stf0br7qAqg.png" />
        <span><a href="https://medium.com/mean-fire" target="_blank">MEAN Fire</a></span>
      </div>
    </div>

    <div class="footer-version">
      &#169; <span class="year" data-testid="footer-year">{{year}}</span> - Damian Bielecki
    </div>

    <div class="footer-copyright">
      <a mat-button href="https://github.com/Bielik20/nx-mean-starter" target="_blank"
         aria-label="GitHub Repository">
        <img class="github-logo"
             src="https://material.angular.io/assets/img/homepage/github-circle-white-transparent.svg"
             alt="github">
        GitHub
      </a>
    </div>
  </div>
</footer>
