<footer class="footer">
  <div class="g-1" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center">
    <div fxFlex="1 0 0" class="ge text-center">
      <a mat-button href="https://nx-mean-starter.herokuapp.com" target="_blank"
         aria-label="NX MEAN Starter">
        <img class="footer-logo" src="https://cdn-images-1.medium.com/fit/c/100/100/1*lFuaWSid4w5Stf0br7qAqg.png" alt="logo">
        NX MEAN Starter
      </a>
    </div>

    <div fxFlex="1 0 0" class="ge text-center mat-caption">
      &#169; {{year}} - Damian Bielecki
    </div>

    <div fxFlex="1 0 0" class="ge text-center">
      <h4 class="my-1">
        <a href="https://github.com/Bielik20/nx-mean-starter" target="_blank">
          <fa-icon [icon]="['fab','github']"></fa-icon> GitHub
        </a>
      </h4>
      <h4 class="my-1">
        <a href="https://medium.com/mean-fire" target="_blank">
          <fa-icon [icon]="['fab','medium-m']"></fa-icon> Medium
        </a>
      </h4>
    </div>
  </div>
</footer>
