@import 'libs/shared/src/styles/variables';

.footer {
  padding: 12px;
  font-size: 12px;
  margin-top: 32px;
}

.footer-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}

.footer-logo {
  flex: 1;

  img {
    height: 50px;
  }
}

.footer-version {
  flex: 1;
  text-align: center;
}

.footer-copyright {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-direction: column;
  min-width: 225px;
  text-align: center;
}

.github-logo {
  height: 26px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}

.footer-logo span {
  display: inline-block;
  line-height: 50px;
  margin: 0 40px;
  vertical-align: bottom;

  a {
    font-size: 16px;
    padding: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

@media #{$mat-lt-sm} {
  .footer {
    margin-top: 0;
  }

  .footer-list {
    flex-direction: column;
  }
}
