@mixin user-sidenav-card-theme($theme, $config) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .user-sidenav-card {
    padding-top: 25px;
    text-align: center;
    cursor: pointer;
  }

  .user-sidenav-card .picture {
    display: inline-block;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
  }

  .user-sidenav-card .picture::before {
    content: '';
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: mat-color($primary);
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }

  .user-sidenav-card .picture::after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: mat-color($primary);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .user-sidenav-card .picture img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }

  @media (hover: none) {
    .user-sidenav-card .picture::before {
      height: 100%;
    }

    .user-sidenav-card .picture img {
      box-shadow: 0 0 0 14px #f7f5ec;
      transform: scale(0.7);
    }
  }

  @media (hover: hover) {
    .user-sidenav-card:hover {
      background-color: map_get($background, hover);
    }

    .user-sidenav-card:hover .picture::before {
      height: 100%;
    }

    .user-sidenav-card:hover .picture img {
      box-shadow: 0 0 0 14px #f7f5ec;
      transform: scale(0.7);
    }
  }
}
